<md-toolbar class="option-header" color="secondary">
  <md-checkbox [ngModel]="config" (ngModelChange)="enabledChanged($event)">bullets</md-checkbox>
</md-toolbar>

<ul [class.section-closed]="!config">

  <li>
    <md-select [ngModel]="config.position" (ngModelChange)="positionChanged($event)" placeholder="position"
               [disabled]="!config">
      <md-option *ngFor="let p of positionOptions" [value]="p">{{p}}</md-option>
    </md-select>
  </li>

  <li>
    <object-input placeholder="bullets" [data]="config.style" (value)="styleChanged($event)"
                 [disabled]="!config"></object-input>
  </li>
</ul>
