:host {
  position: absolute;
  z-index: 310;
}

//.g-progress {
//  height: 3px;
//  background-color: #cf15e3;
//  width: 0;
//}

.g-player-btns {
  display: flex;
  padding: 0.5em 1em;
}

.g-player-btn {
  margin-right: 0.5em;
  color: #ffffff;
  cursor: pointer;
}

