@import "../../../assets/mixin";
@import "../../../assets/variables";

:host {
  margin: 0;
  flex: 0 0 auto;
  padding: 0;
}

.menu.menu-toolbar {
  flex-direction: row;

  a.mat-button {
    width: unset;
    height: 36px;
    line-height: 36px;
  }
}

a.mat-button {
  height: var(--header-height);
  line-height: var(--header-height);

  &.active {
    background: rgba(0, 0, 0, .08);
  }
}

a {
  width: 220px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 1.7em;
    margin-right: 0.4em;
  }
}
