<div class="page-title">
  <h1 fxLayout>
    <mat-icon style="font-size: 56px; height: 56px; width: 56px;">biotech</mat-icon>
    <div fxLayout fxFlexAlign="center">Lab</div>
  </h1>
</div>
<div class="page-content">
<!--  <basic-example/>-->

  @if (show()) {
    <div class="gallery-container">
      <gallery #gallery id="lab"
               [dir]="dir"
               [items]="photos()"
               [centralized]="config.centralized"
               [itemAutosize]="config.itemAutosize"
               [resizeDebounceTime]="config.resizeDebounceTime"
               [loop]="config.loop"
               [debug]="config.debug"
               [autoplay]="config.autoplay"
               [imageSize]="config.imageSize"
               [autoplayInterval]="config.autoplayInterval"
               [orientation]="config.orientation"
               [scrollDuration]="config.scrollDuration"
               [disableScroll]="config.disableScroll"
               [disableMouseScroll]="config.disableMouseScroll"
               [scrollBehavior]="config.scrollBehavior"
               (itemClick)="onItemClick($event)"
               (thumbClick)="onThumbClick($event)">

        <img *galleryItemDef="let item"
             galleryImage
             [src]="item.src"
             fill
             [attr.alt]="item.alt"/>

        @if (navConfig.nav) {
          <gallery-nav/>
        }

        @if (bulletConfig.bullet) {
          <gallery-bullets [align]="bulletConfig.align"
                           [scrollBehavior]="bulletConfig.scrollBehavior"
                           [disabled]="bulletConfig.disabled"/>
        }

        @if (counterConfig.counter) {
          <gallery-counter [align]="counterConfig.align"/>
        }

        @if (thumbConfig.thumbs) {
          <gallery-thumbs [autosize]="thumbConfig.autosize"
                          [imageSize]="thumbConfig.imageSize"
                          [centralized]="thumbConfig.centralized"
                          [thumbWidth]="thumbConfig.thumbWidth"
                          [thumbHeight]="thumbConfig.thumbHeight"
                          [disabled]="thumbConfig.disabled"
                          [disableScroll]="thumbConfig.disableScroll"
                          [disableMouseScroll]="thumbConfig.disableMouseScroll"
                          [position]="thumbConfig.position"
                          [detach]="thumbConfig.detach">
            <img *galleryItemDef="let item"
                 galleryImage
                 [src]="item.thumb"
                 fill
                 [attr.alt]="item.alt + '_thumb'"/>
          </gallery-thumbs>
        }
      </gallery>

      <div class="buttons-container">
        <button mat-flat-button (click)="gallery.play()">Play</button>
        <button mat-button color="accent" (click)="gallery.stop()">Stop</button>
        <button mat-button color="primary" (click)="gallery.prev()">Prev</button>
        <button mat-button color="primary" (click)="gallery.next()">Next</button>
        <!--      <button mat-button color="primary" (click)="gallery.remove(gallery.galleryRef.currIndex())">Remove-->
        <!--      </button>-->
      </div>
    </div>
  }

  <mat-card>
    <mat-card-content>

      <div class="outputs-container">
        @if (indexChange(); as indexChange) {
          <span class="chip" [class.changed]="indexChange.active">
            <strong>indexChange {{ indexChange.e?.currIndex }}</strong>
          </span>
        }

        @if (thumbClick(); as thumbClick) {
          <span class="chip" [class.changed]="thumbClick.active">
            <strong>thumbClick {{ thumbClick.e }}</strong>
          </span>
        }

        @if (itemClick(); as itemClick) {
          <span class="chip" [class.changed]="itemClick.active">
            <strong>itemClick {{ itemClick.e }}</strong>
          </span>
        }

        @if (player(); as player) {
          <span class="chip" [class.changed]="player.active">
            <strong>playingChange {{ player.e?.isPlaying }}</strong>
          </span>
        }
      </div>

      <div class="row">

        <div class="column">

<!--          <div>-->
<!--            <mat-form-field>-->
<!--              <mat-label>Loading strategy</mat-label>-->
<!--              <mat-select [(ngModel)]="config.loadingStrategy">-->
<!--                @for (option of loadingStrategies; track option) {-->
<!--                  <mat-option [value]="option">{{ option }}</mat-option>-->
<!--                }-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
<!--          </div>-->
          <div>
            <mat-form-field name="orientation">
              <mat-label>Orientation</mat-label>
              <mat-select [(ngModel)]="config.orientation">
                @for (option of orientations; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Image size</mat-label>
              <mat-select [(ngModel)]="config.imageSize">
                @for (option of imageSizes; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Thumbnails image size</mat-label>
              <mat-select [(ngModel)]="thumbConfig.imageSize">
                @for (option of imageSizes; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Thumbnails Position</mat-label>
              <mat-select [(ngModel)]="thumbConfig.position" [disabled]="!thumbConfig.thumbs">
                @for (option of thumbPositions; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Counter Position</mat-label>
              <mat-select [(ngModel)]="counterConfig.align" [disabled]="!counterConfig.counter">
                @for (option of dotsCounterPositions; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Dots Position</mat-label>
              <mat-select [(ngModel)]="bulletConfig.align" [disabled]="!bulletConfig.bullet">
                @for (option of dotsCounterPositions; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <div class="column">
          <div>
            <mat-checkbox [(ngModel)]="config.debug">Debug</mat-checkbox>
          </div>
          <!--          <div>-->
          <!--            <mat-checkbox [(ngModel)]="config.autoHeight" [disabled]="config.itemAutosize">Auto-height</mat-checkbox>-->
          <!--          </div>-->
          <div>
            <mat-checkbox [(ngModel)]="config.itemAutosize">Item autosize</mat-checkbox>
          </div>
          <div>
            <mat-checkbox [(ngModel)]="thumbConfig.autosize" [disabled]="!thumbConfig.thumbs">Thumb autosize
            </mat-checkbox>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Scroll duration</mat-label>
              <input matInput [(ngModel)]="config.scrollDuration">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Player interval</mat-label>
              <input matInput [(ngModel)]="config.autoplayInterval">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Resize debounce time</mat-label>
              <input matInput [(ngModel)]="config.resizeDebounceTime">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Scroll Behavior</mat-label>
              <mat-select [(ngModel)]="config.scrollBehavior">
                @for (option of scrollBehaviors; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Direction</mat-label>
              <mat-select [(ngModel)]="dir">
                @for (option of directions; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="column checkboxes">
          <div>
            <mat-checkbox [(ngModel)]="config.loop">Loop navigation</mat-checkbox>
          </div>
          <div>
            <mat-checkbox [(ngModel)]="navConfig.nav">Show navigation</mat-checkbox>
          </div>
          <div>
            <mat-checkbox [(ngModel)]="bulletConfig.bullet">Show bullets</mat-checkbox>
          </div>
          <div>
            <mat-checkbox [(ngModel)]="counterConfig.counter">Show counter</mat-checkbox>
          </div>
          <div>
            <mat-checkbox [(ngModel)]="thumbConfig.thumbs">Show thumbnails</mat-checkbox>
          </div>
          <div>
            <mat-checkbox [(ngModel)]="config.centralized">Centralize Slider</mat-checkbox>
          </div>
          <div>
            <mat-checkbox [(ngModel)]="thumbConfig.centralized" [disabled]="!thumbConfig.thumbs">Centralize Thumbnails
            </mat-checkbox>
          </div>
          <div>
            <mat-checkbox [(ngModel)]="thumbConfig.detach" [disabled]="!thumbConfig.thumbs">Detach thumbnails
            </mat-checkbox>
          </div>
          <div>
            <mat-checkbox [(ngModel)]="thumbConfig.disabled" [disabled]="!thumbConfig.thumbs">Disable thumbnails' clicks
            </mat-checkbox>
          </div>
          <div>
            <mat-checkbox [(ngModel)]="config.autoplay">Auto-play</mat-checkbox>
          </div>

          <div>
            <mat-checkbox [(ngModel)]="config.disableScroll">Disable Scroll</mat-checkbox>
          </div>

          <div>
            <mat-checkbox [(ngModel)]="thumbConfig.disableScroll" [disabled]="!thumbConfig.thumbs">Disable Thumb
              Scroll
            </mat-checkbox>
          </div>

          <div>
            <mat-checkbox [(ngModel)]="config.disableMouseScroll">Disable Mouse Scroll</mat-checkbox>
          </div>

          <div>
            <mat-checkbox [(ngModel)]="thumbConfig.disableMouseScroll" [disabled]="!thumbConfig.thumbs">Disable Thumb
              Mouse Scroll
            </mat-checkbox>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>

<footer></footer>
