button {
  margin: 0.8em 0.5em;
}

gallery {
  margin-top: 3em;
  border-radius: 3px;
}

.buttons-container {
  margin: 2em 0;
  display: flex;
  justify-content: center;
}

.row {
  justify-content: space-around;
}

.column {
  align-items: start;
}

.checkboxes {
  div {
    margin: 0.3em 0;
  }
}

.outputs-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

span {
  color: gray;
  background-color: honeydew;
  transition: background-color ease-out 1s;
  box-sizing: border-box;
  margin: 0.5em;
  border-radius: 1.5em;
  padding: 0.6em 1em;
  font-size: 0.8em;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.changed {
  background-color: rgb(151, 255, 218) !important;
  transition: unset !important;
}
