/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'assets/theme';
@import 'assets/mixin';
@import 'assets/variables';

* {
  box-sizing: border-box;
}

:root {
  --ng-progress-color: #E91E63;
}

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  --header-height: 56px;
}

p {
  line-height: 2em;
}

h3 {
  margin-top: 3em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}

.install {
  margin: 3em 0;
}

mat-sidenav-container {
  height: 100%;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
  top: var(--header-height);
  bottom: 0;
  overflow: auto;
  transform: perspective(1000px);
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.mdc-button {
  letter-spacing: 1px;
  font-size: 14px;
}

section {
  margin-bottom: 2em;
  display: block;
  width: 100%;
}

code {
  flex: 1;
  box-sizing: border-box;
  font-weight: normal;
  line-height: 1.75em;
  margin: 0 0.3em;
  display: inline-block !important;
  padding: 0 6px !important;
  overflow-x: unset !important;
  background-color: white !important;
  border-radius: 3px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.hljs {
  color: $text-color;
}

a {
  text-decoration: none;
  color: $accent-color;
}

.usage-title {
  display: flex;

  p {
    margin: 0;
  }
}

.section-number {
  flex: 0 0 auto;
  border-radius: 50%;
  color: $primary-color;
  box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  background: white;
}

.inline-number {
  display: inline-flex;
  margin: 0 0.2em;
}

.page-title {
  box-shadow: inset 0 -3px 8px 0 rgba(0, 0, 0, 0.08);
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  h1 {
    letter-spacing: 2px;
    text-align: center;
    margin: 2em auto;
    padding: 16px;
    font-weight: normal;
  }
}

.page-content {
  position: relative;
  @extend .container;
}

// code
.hljs-attr {
  color: $primary-color;
}

// Used in for features in Home page and Gallerize page

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.separator {
  height: 120px;
  width: 20%;
  background-color: rgba($primary-color, 0.2);
}
