<div class="menu" [class.menu-toolbar]="toolbar">
  <a mat-button routerLink="." routerLinkActive="active">Home</a>
  <a mat-button routerLink="getting-started" routerLinkActive="active">Getting Started</a>
  <a mat-button routerLink="basic" routerLinkActive="active">Basic</a>
  <a mat-button routerLink="mixed" routerLinkActive="active">Mixed</a>
  <a mat-button routerLink="advanced" routerLinkActive="active">Advanced</a>
  <a mat-button routerLink="lightbox" routerLinkActive="active">Lightbox</a>
  <a mat-button routerLink="auto-detect" routerLinkActive="active">Auto-Detect</a>
  <a fxLayout fxLayoutAlign="center center" href="https://www.patreon.com/bePatron?u=5594898">
    <img width="auto" height="34px" src="https://camo.githubusercontent.com/3d9b27bdf72d7e5407fbad6f9240f6cadc98a7a5/68747470733a2f2f63352e70617472656f6e2e636f6d2f65787465726e616c2f6c6f676f2f6265636f6d655f615f706174726f6e5f627574746f6e2e706e67" alt="npm" data-canonical-src="https://c5.patreon.com/external/logo/become_a_patron_button.png" style="max-width:100%;">
  </a>
  <a mat-button class="btn-icon" href="https://github.com/MurhafSousli/ng-gallery">
    <i class="fab fa-github" data-fa-transform="grow-8"></i>
  </a>
</div>
