@import '../../../assets/variables';

:host {
  display: block;
  &.info {
    section {
      border: 2px solid $primary-color;
      background-color: $code-bg-color;
    }
    .note-icon {
      background-color: $primary-color;
    }
  }
}

.note-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background-color: $note-color;
}

mat-icon {
  color: white;
  font-size: 36px;
  width: 36px;
  height: 36px;
  line-height: 36px;
}

.note-content {
  margin-left: 80px;
  text-align: justify;
  padding: 0 1em;
}

section {
  min-height: 80px;
  position: relative;
  border: 2px solid $note-color;
  margin: 4em 0;
  display: flex;
  align-items: center;
  background-color: $note-bg;
  border-radius: 0.5em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
