* {
  box-sizing: border-box;
}

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-container {
  overflow: hidden;
  position: relative;
  z-index: 200;
  max-height: 100%;
  max-width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;

  @media (max-width: 480px) {
    margin: 0.8em;
  }
}

.g-current, .g-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 1;
}

.g-layer{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 250;
}


