<md-toolbar class="option-header" color="secondary">
  <md-checkbox [ngModel]="config" (ngModelChange)="enabledChanged($event)">thumbnail</md-checkbox>
</md-toolbar>

<ul [class.section-closed]="!config">
  <li>
    <reactive-input [placeholder]="'width'" [text]="config.width" (value)="widthChanged($event)"
                    [disabled]="!config" ></reactive-input>
  </li>

  <li>
    <reactive-input [placeholder]="'height'" [text]="config.height" (value)="heightChanged($event)"
                    [disabled]="!config" ></reactive-input>
  </li>

  <li>
    <md-select placeholder="position" [ngModel]="config.position" (ngModelChange)="positionChanged($event)"
               [disabled]="!config">
      <md-option *ngFor="let p of positionOptions" [value]="p">{{p}}</md-option>
    </md-select>
  </li>

  <li>
    <reactive-input [placeholder]="'space'" [text]="config.space" (value)="spaceChanged($event)"
                    [disabled]="!config" ></reactive-input>
  </li>
</ul>
