<div fxLayout="column" fxLayoutAlign="center center">

  <h3>
    <a href="https://www.patreon.com/bePatron?u=5594898">
      <img
        src="https://camo.githubusercontent.com/3d9b27bdf72d7e5407fbad6f9240f6cadc98a7a5/68747470733a2f2f63352e70617472656f6e2e636f6d2f65787465726e616c2f6c6f676f2f6265636f6d655f615f706174726f6e5f627574746f6e2e706e67"
        alt="npm" data-canonical-src="https://c5.patreon.com/external/logo/become_a_patron_button.png"
        style="max-width:100%;">
    </a>
  </h3>

  <h3><p>Images from <a href="https://pixabay.com/">Pixabay</a></p></h3>

  <h3 fxLayout fxLayoutAlign="center center">
    <p>© 2018 Angular Gallery</p>
    <iframe src="https://ghbtns.com/github-btn.html?user=murhafsousli&repo=ngx-gallery&type=star&count=true"
            frameborder="0" scrolling="0" width="85px" height="20px"></iframe>
  </h3>

  <h3>Created by Murhaf Sousli
    <a mat-icon-button class="icon twitter" href="https://twitter.com/MurhafSousli">
      <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
    </a>
    <a mat-icon-button class="icon github" href="https://github.com/MurhafSousli">
      <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
    </a>
  </h3>
</div>

