/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'assets/theme';
@import 'assets/mixin';
@import 'assets/variables';
@import '~@ngx-gallery/core/styles/gallery';
@import '~@ngx-gallery/core/styles/lightbox';

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  margin: 0;
  color: $base-color;
  height: 100vh;
  overflow: hidden;
  h3, b, p {
    color: $base-color;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}

.install {
  margin: 3em 0;
}

mat-sidenav-container {
  height: 100%;
}

home,
documentation,
gallery-example,
mixed-example,
lightbox-example,
advanced-example,
auto-detect-example,
not-found {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height;
  bottom: 0;
  overflow-y: auto;
  transform: perspective(1000px);
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

ng-scrollbar {
  .ng-scrollbar-thumb {
    border-radius: 0;
  }
  .-vertical , .-horizontal  {
    right: 0;
    bottom: 0;
  }
  .-vertical {
    width: 8px;
    top: 0;
  }
  .-horizontal {
    height: 8px;
    left: 0;
  }
}

section {
  margin-bottom: 6em;
  display: block;
  width: 100%;
}

code {
  flex: 1;
  font-size: 1.1em;
  box-sizing: border-box;
  font-weight: normal;
  border-radius: .2em;
  line-height: 1.75em;
  margin: 0 0.3em;
  display: inline-block !important;
  padding: 0.05em 0.5em !important;
  overflow-x: unset !important;
}

a {
  text-decoration: none;
  color: mat-color($demo-accent);
}

.usage-title {
  display: flex;
  align-items: center;
}

.section-number {
  border-radius: 50%;
  background-color: mat-color($demo-primary);
  color: gold;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.page-title {
  background-color: $primary-color;
  background-image: $colorful-bg;

  display: flex;
  flex-direction: column;
  color: #fff;
  h1 {
    text-align: center;
    margin: 3em auto;
    padding: 16px;
    font-weight: normal;
  }
}

.page-content {
  position: relative;
  @extend .container;
}

// code
.hljs-attr {
  color: $primary-color;
}

// Used in for features in Home page and Gallerize page


.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


