
$primary-color-dark:   #5D4037;
$primary-color:        #795548;
$primary-color-light:  #D7CCC8;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
//$candy-app-primary: mat-palette($mat-indigo);
//$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
//
//// The warn palette is optional (defaults to red).
//$candy-app-warn:    mat-palette($mat-red);
//
//// Create the theme object (a Sass map containing all of the palettes).
//$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
//
//// Include theme styles for core and each component used in your app.
//// Alternatively, you can import and @include the theme mixins for each component
//// that you are using.
//@include angular-material-theme($candy-app-theme);
///* Palette generated by Material Palette - materialpalette.com/brown/deep-orange */

$causal-impact-primary: mat-palette($mat-blue);
$causal-impact-accent: mat-palette($mat-amber, 500, 400, 600);
$causal-impact-warn: mat-palette($mat-red);
$causal-impact-light-theme: mat-light-theme($causal-impact-primary, $causal-impact-accent, $causal-impact-warn);
@include angular-material-theme($causal-impact-light-theme);
