:host {
  margin-top: 1em;
  display: block;
}

.input-entries {
  display: flex;
  border-left: 4px solid rgba(gray, 0.3);
  position: relative;

  reactive-input{
    flex: 1;
    margin-left: 1em;
  }
}

.input-placeholder {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-bottom: 1px solid #ccc;
  color: gray;
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.input-title {
  flex: 1;
}

.input-badge {
  font-size: 12px;
  border-radius: 2px;
  padding: 4px;
  background-color: rgba(#607d8b, 0.5);
  color: white;
}

.input-button {
  position: absolute;
  border: none;
  left: -1.2em;
  top: 1.5em;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.5em;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  font-size: 10px;
  transition: all linear 0.1s;

  &:active, &:focus {
    outline: 0;
  }
}

.success {
  background-color: mediumseagreen;
}

.danger {
  background-color: indianred;
}

.disabled {
  background-color: gray;
}
