.dynamic-content {
  margin: 2em 0;
  padding: 1em 0;
  border-top: 2px dashed lightgray;
  border-bottom: 2px dashed lightgray;
  text-align: justify;
  &:before, &:after {
    display: block;
    color: darkgray;
  }
  &:before {
    content: 'Demo content starts';
    margin-bottom: 1em;
  }
  &:after {
    content: 'Demo content ends';
    margin-top: 1em;
  }
}
