<h1 class="colorful">Detects images automatically</h1>

<p>Here is a demo content that has img tags inside.</p>

<div [gallerize] class="dynamic-content" [innerHtml]="shared.htmlString"></div>

<div class="content">

  <p>Use <code highlight>[gallerize]</code> directive to detect all images inside the host element</p>

  <h4 class="colorful">Code</h4>

  <highlight [lang]="'html'" [code]="shared.codes.gallerizeModal"></highlight>

  <p>The variable <code highlight>dynamicHtml</code> would look something like:</p>

  <highlight [lang]="'ts'" [code]="shared.codes.htmlString"></highlight>

  <gallery-modal></gallery-modal>

</div>
