@import '../../assets/variables';


:host {
  background-color: $demo-gray-color;
  padding: 1em 2em;
  font-size: .9em;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  color: gray;
  a {
    color: gray;
    margin-left: 1em;
  }
}
