@import '~@angular/material/theming';

:host {
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;

  z-index: 1000;
  display: flex;
  flex-direction: column;
  box-shadow: -3px 0 6px rgba(0, 0, 0, .24);
}

.gallery-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.options-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9em;
}

.style-input {
  width: 90%;
  textarea {
    height: 110px;
  }
}

ul {
  overflow: unset;
}

