<md-toolbar class="option-header">

  <div class="options-title">
    <span>Gallery options</span>
    <md-select *ngIf="themes" [ngModel]="currTheme.name" (ngModelChange)="setTheme($event)" placeholder="theme">
      <md-option *ngFor="let theme of themes" [value]="theme">{{theme.name}}</md-option>
    </md-select>
  </div>

  <md-toolbar-row class="toolbar-buttons">
    <button md-raised-button (click)="importConfig()">IMPORT</button>
    <button md-raised-button (click)="exportConfig()">EXPORT</button>
  </md-toolbar-row>

</md-toolbar>


<div class="gallery-options">

  <div class="option-padding">

    <md-select [ngModel]="config.animation" (ngModelChange)="updateAnimate($event)" placeholder="animation">
      <md-option *ngFor="let p of animateOptions" [value]="p">{{p}}</md-option>
    </md-select>

    <md-input-container>
      <input mdInput placeholder="width" [ngModel]="config.width" (ngModelChange)="updateWidth($event)">
    </md-input-container>

    <md-input-container>
      <input mdInput placeholder="height" [ngModel]="config.height" (ngModelChange)="updateHeight($event)">
    </md-input-container>
  </div>


  <desc-options [config]="config.description" (value)="updateDesc($event)"></desc-options>

  <loader-options [config]="config.loader" (value)="updateLoader($event)"></loader-options>

  <thumb-options [config]="config.thumbnails" (value)="updateThumbs($event)"></thumb-options>

  <bullets-options [config]="config.bullets" (value)="updateBullets($event)"></bullets-options>

  <play-options [config]="config.player" (value)="updatePlayer($event)"></play-options>

  <service-options></service-options>
</div>
