<md-toolbar class="option-header">

  <div class="options-title">
    <span>Gallery options</span>
    <md-select *ngIf="themes" [ngModel]="currTheme.name" (ngModelChange)="themeChanged($event)" placeholder="theme">
      <md-option *ngFor="let theme of themes" [value]="theme">{{theme.name}}</md-option>
    </md-select>
  </div>

  <md-toolbar-row class="toolbar-buttons">
    <button md-raised-button (click)="importConfig()">IMPORT</button>
    <button md-raised-button (click)="exportConfig()">EXPORT</button>
  </md-toolbar-row>

</md-toolbar>


<div class="gallery-options">

  <ul>
    <li>
      <md-select [ngModel]="config.animation" (ngModelChange)="animateChanged($event)" placeholder="animation">
        <md-option *ngFor="let p of animateOptions" [value]="p">{{p}}</md-option>
      </md-select>
    </li>
    <li>
      <md-checkbox [(ngModel)]="config.gestures" (ngModelChange)="gesturesChanged($event)">gestures</md-checkbox>
    </li>
    <li>
      <object-input placeholder="container" [data]="config.style" (value)="styleChanged($event)"></object-input>
    </li>
  </ul>


  <desc-options [config]="config.description" (value)="descChanged($event)"></desc-options>

  <thumb-options [config]="config.thumbnails" (value)="thumbsChanged($event)"></thumb-options>

  <nav-options [config]="config.thumbnails" (value)="navChanged($event)"></nav-options>

  <bullets-options [config]="config.bullets" (value)="bulletsChanged($event)"></bullets-options>

  <loader-options [config]="config.loader" (value)="loaderChanged($event)"></loader-options>

  <play-options [config]="config.player" (value)="playerChanged($event)"></play-options>

  <service-options></service-options>
</div>