.logo {
  width: 200px;
}

.header {
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 300px;
  padding: 4em;
  transition: margin-top ease-in 0.3s;
  margin-top: 0;
}

.close-header {
  transition: margin-top ease-out 0.3s;
  margin-top: -300px;
}

.header-text {
  margin: 2em;
}

h1 {
  margin: 1em 0;
  color: #4e005f;

  background: linear-gradient(0deg, #4e005f, #cf15e3, #e35f15, #100cb0);
  background-size: 800% 800%;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  animation: ColorTransition 44s ease infinite;

  @-webkit-keyframes ColorTransition {
    0% {
      background-position: 0% 90%
    }
    50% {
      background-position: 100% 11%
    }
    100% {
      background-position: 0% 90%
    }
  }
  @-moz-keyframes ColorTransition {
    0% {
      background-position: 0% 90%
    }
    50% {
      background-position: 100% 11%
    }
    100% {
      background-position: 0% 90%
    }
  }
  @keyframes ColorTransition {
    0% {
      background-position: 0% 90%
    }
    50% {
      background-position: 100% 11%
    }
    100% {
      background-position: 0% 90%
    }
  }
}

