.header{
    width: 100%;
    margin-top: 1em;
    display: flex;
}

.logo{
    width: 200px;
}
.header-text{
    margin-left: 20px;
}

h1{
    color: #4e005f;

    background: linear-gradient(0deg, #4e005f, #cf15e3, #e35f15, #100cb0);
    background-size: 800% 800%;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    -webkit-animation: ColorTransition 44s ease infinite;
    -moz-animation: ColorTransition 44s ease infinite;
    animation: ColorTransition 44s ease infinite;

    @-webkit-keyframes ColorTransition {
        0%{background-position:0% 90%}
        50%{background-position:100% 11%}
        100%{background-position:0% 90%}
    }
    @-moz-keyframes ColorTransition {
        0%{background-position:0% 90%}
        50%{background-position:100% 11%}
        100%{background-position:0% 90%}
    }
    @keyframes ColorTransition {
        0%{background-position:0% 90%}
        50%{background-position:100% 11%}
        100%{background-position:0% 90%}
    }
}
