@import "../../assets/mixin";

.logo {
  width: 200px;
}

.header {
  justify-content: center;
  align-items: center;
  display: flex;
  max-height: 300px;
  padding: 4em;
  transition: margin-top ease-in 0.3s;
  margin-top: 0;
  @include mobile() {
    flex-direction: column;
    padding: 0;
    margin-top: 2em;
  }
}

.menu {
  @include mobile() {
    display: none;
  }
}

.close-header {
  transition: margin-top ease-out 0.3s;
  margin-top: -300px;
}

.header-text {
  margin: 2em;
  @include mobile() {
    margin: 0;
  }
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

