<ng-progress color="#E91E63"></ng-progress>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div class="logo">
      <mat-icon svgIcon="logo"></mat-icon>
    </div>
    <h3>Ng-gallery</h3>
    <app-menu [toolbar]="false"></app-menu>
  </mat-sidenav>

  <div fxLayout="column" class="main-wrapper">

    <!-- MAIN TOOLBAR -->

    <mat-toolbar color="primary">
      <a fxHide fxShow.lt-sm mat-icon-button class="toggle-button" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </a>

      <a class="toolbar-logo" routerLink=".">
        <mat-icon svgIcon="logo"></mat-icon>
        <h1>Ng-gallery</h1>
      </a>

      <span fxFlex></span>
      <app-menu fxHide.lt-sm></app-menu>
    </mat-toolbar>

    <!-- ROUTER OUTLET -->

    <main fxFlex [@sideAnimation]="getState(o)">
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </div>

</mat-sidenav-container>
