@import '../assets/variables';
@import "../assets/mixin";

:host {
  display: block;
  height: 100%;
}

h3 {
  text-align: center;
  letter-spacing: 1px;
}

.main-wrapper {
  height: 100%;
  position: relative;
  transition: all linear 0.3s;
  display: flex;
  flex-direction: column;
  background-color: $bg;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 1em 0;

  mat-icon {
    height: 84px;
    width: 84px;
  }
}

main {
  position: relative;
  overflow: hidden;
  box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2);
}

.toolbar-logo {
  display: flex;
  align-items: center;

  a {
    letter-spacing: 1px;
  }

  h1 {
    color: white;
    font-size: 16px;
    text-align: center;
  }

  span {
    flex: 1;
  }

  mat-icon {
    width: 40px;
    height: 40px;
    margin-right: 0.5em;
  }
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 110;
  height: var(--header-height);
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.toolbar-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.mat-sidenav {
  background-color: $primary-color;

  h3, menu {
    color: white;
  }
}

.toggle-button {
  width: 40px;
  height: 40px;
}
