@import '../../../assets/variables';
@import '../../../assets/mixin';

:host {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 100%;
  margin-top: 2em;
  margin-bottom: 3em;
  background: rgba(0, 0, 0, .01);
  overflow: hidden;
  border-radius: 0.5em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

  --scrollbar-border-radius: 4px;
  --scrollbar-hover-thickness: 10;
  --scrollbar-thickness: 5;
  --scrollbar-track-wrapper-transition: all 100ms ease;
}

pre {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  display: inline-flex;
  word-wrap: normal;

  code {
    display: inline-block;
    height: 100%;
    padding: 1.7em 2em !important;
    border-radius: 0;
    flex: 1;
    margin: 0;
    box-shadow: none;
    overflow: hidden;
    border: none;
    min-height: 100%;
  }
}

.copy-button-wrapper {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
}

span {
  margin-left: 10px;
}

pre {
  min-height: 100%;
}
