<ng-container *ngIf="state$ | async; let state">
  <ng-scrollbar appearance="compact"
                [disabled]="disabled"
                [autoHeightDisabled]="false"
                barClass="code-scrollbar"
                thumbClass="code-scrollbar-thumb">

    <ng-container *ngIf="!state.copied; else copiedMessage">

      <pre *ngIf="disabled; else enabled">
        <code #codeEL class="hljs" [innerHTML]="code"></code>
      </pre>

      <ng-template #enabled>
        <pre>
          <code #codeEL [highlight]="code"></code>
        </pre>
      </ng-template>

    </ng-container>

    <ng-template #copiedMessage>
      <div class="hljs copy-message">
        <mat-icon>done</mat-icon>
        <span>Copied!</span>
      </div>
    </ng-template>
  </ng-scrollbar>

</ng-container>

<button mat-icon-button color="accent" matTooltipClass="copy-tooltip"
        matTooltip="Copy code" matTooltipPosition="before" (click)="copy()">
  <mat-icon class="md-24" aria-label="Copy code">content_paste</mat-icon>
</button>
