<div class="page-title">
  <h1>Basic Example</h1>
</div>
<div class="page-content">

  <gallery id="ex1" [items]="lions$ | async" [thumbPosition]="(media$ | async) === 'sm' ? 'top' : 'left'"></gallery>

  <pre>
    <code highlight [code]="code.ex1"></code>
  </pre>

  <gallery id="ex2" [items]="tigers$ | async" [thumbPosition]="(media$ | async) === 'sm' ? 'bottom' : 'right'" slidingDirection="vertical"></gallery>

  <pre>
    <code highlight [code]="code.ex2"></code>
  </pre>

  <pre>
    <code highlight [code]="code.load"></code>
  </pre>

  <p>Assume your data looks like this</p>
  <pre>
    <code highlight [code]="code.imageData"></code>
  </pre>
</div>
<footer></footer>

