@import 'dots';
@import 'navigations';
@import 'slider';
@import 'thumbnails';
@import 'counter';

gallery {
  z-index: 1;
  overflow: hidden;
  display: block;
  background-color: black;
  * {
    box-sizing: border-box;
  }
}

gallery, gallery-core {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

gallery-core {
  display: flex;
}

.-no-transition {
  transition: unset !important;
}

.g-box {
  height: 100%;
  width: 100%;
}

.g-box, gallery-slider {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 1;
  height: 100%;
}


.g-loading {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 44 44' xmlns='http://www.w3.org/2000/svg' stroke='%23fff'%3E%3Cg fill='none' fill-rule='evenodd' stroke-width='2'%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='0s' dur='1.8s' values='1; 20' calcMode='spline' keyTimes='0; 1' keySplines='0.165, 0.84, 0.44, 1' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-opacity' begin='0s' dur='1.8s' values='1; 0' calcMode='spline' keyTimes='0; 1' keySplines='0.3, 0.61, 0.355, 1' repeatCount='indefinite' /%3E%3C/circle%3E%3Ccircle cx='22' cy='22' r='1'%3E%3Canimate attributeName='r' begin='-0.9s' dur='1.8s' values='1; 20' calcMode='spline' keyTimes='0; 1' keySplines='0.165, 0.84, 0.44, 1' repeatCount='indefinite' /%3E%3Canimate attributeName='stroke-opacity' begin='-0.9s' dur='1.8s' values='1; 0' calcMode='spline' keyTimes='0; 1' keySplines='0.3, 0.61, 0.355, 1' repeatCount='indefinite' /%3E%3C/circle%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-size: contain;
}

