.slides-container {
  height: 100%;
}

.slides {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 400ms cubic-bezier(0.5, 0, 0.5, 1);
}

.slide {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

gallery-core[slidingDirection='horizontal'] {
  .slides {
    flex-direction: row;
  }
}

gallery-core[slidingDirection='vertical'] {
  .slides {
    flex-direction: column;
  }
}
