<div class="page-title">
  <h1>Lightbox Component</h1>
</div>
<div class="page-content">

  <section>

    <h3>Demo</h3>

    <ng-template lightbox #lightbox="lightbox" panelClass="g-glass-theme">
      <gallery [items]="photos()">
        <img *galleryItemDef="let item"
             galleryImage
             [src]="item.src"
             [alt]="item.alt"/>
        <gallery-thumbs itemSize="190" thickness="100">
          <button *galleryItemDef="let item" galleryThumbClick>
            <img galleryImage [src]="item.thumb" [alt]="item.alt"/>
          </button>
        </gallery-thumbs>
        <gallery-nav/>
        <gallery-counter/>
      </gallery>
    </ng-template>

    <div class="grid">
      @for (item of photos(); track i; let i = $index) {
        <button mat-raised-button
                class="grid-item"
                [lightboxFor]="lightbox"
                [lightboxIndex]="i">
          <img class="grid-image" loading="lazy" [src]="item.thumb" [alt]="item.alt"/>
        </button>
      }
    </div>

    <p>Lightbox config can be set globally in <code class="hljs">LightboxModule.forRoot(config)</code> or directly
      with the open function.</p>

    <note>
      <p>By default, the lightbox uses full screen style on small screens like on mobile phones, but you can force a
        full screen style on large screens too.</p>
    </note>

    <p>List of lightbox options is available in the
      <a mat-button class="inline-button" color="primary" target="_blank"
         href="https://github.com/MurhafSousli/ngx-gallery/wiki/Lightbox-API">
        <fa-icon icon="external-link-alt"/>
        Lightbox API
      </a>
    </p>
  </section>
</div>
<footer></footer>
