<div class="page-title">
  <h1>Lightbox Component</h1>
</div>
<div class="page-content">

  <section>
    <section-title>Overview</section-title>
    <p>Use the directive <code class="hljs">[lightbox]</code> to open the lightbox on elements clicks</p>
    <p>Alternatively, you can still use the <code class="hljs">Lightbox</code> service to open the lightbox
      programmatically.</p>
  </section>

  <section>
    <section-title>Usage</section-title>

    <note class="info" style="margin-top: -4em">
      <p>If you haven't installed the module in step <span class="section-number inline-number">1</span>
        see the <a mat-button class="inline-button" style="padding: 0 0.5em" color="accent"
                   [routerLink]="['/getting-started/lightbox']">Getting
          Started Guide</a></p>
    </note>

    <div class="usage-title">
      <span class="section-number">2</span>
      <p>Create a gallery items array to load it in the gallery</p>
    </div>

    <hl-code [code]="code.loadItems"></hl-code>

    <div class="usage-title">
      <span class="section-number">3</span>
      <p>Now that you have gallery items, display their thumbnails in the template and add the directive <code
        class="hljs">[lightbox]</code>
        on each item so the clicks open the lightbox.</p>
    </div>

    <h4>Example</h4>
    <hl-code [code]="code.template"></hl-code>

    <p>If you are using multiple galleries in your app, then each gallery should have an id.</p>

    <h4>Full Example</h4>

    <hl-code [code]="code.ex"></hl-code>

    <h3>Demo</h3>

    <div class="grid">
      <button mat-raised-button
              class="grid-item"
              *ngFor="let item of space$ | async; let i = index"
              [lightbox]="i"
              gallery="lightbox">

        <img class="grid-image" loading="lazy" [src]="item.data.thumb"/>
      </button>
    </div>

    <p>Lightbox config can be set globally in <code class="hljs">LightboxModule.forRoot(config)</code> or directly
      with the open function.</p>

    <note>
      <p>By default, the lightbox uses full screen style on small screens like on mobile phones, but you can force a
        full screen style on large screens too.</p>
    </note>

    <p>For example, open the lightbox in
      <button mat-button class="inline-button" color="accent"
              (click)="lightbox.open(0, 'lightbox', {panelClass: 'fullscreen'})">
        Full Screen
      </button>
      mode
    </p>

    <hl-code [code]="code.alt"></hl-code>

    <p>List of lightbox options is available in the
      <a mat-button class="inline-button" color="primary" target="_blank"
         href="https://github.com/MurhafSousli/ngx-gallery/wiki/Lightbox-API">
        <fa-icon icon="external-link-alt"></fa-icon>
        Lightbox API
      </a>
    </p>
  </section>
</div>
<footer></footer>
