gallery-thumb {
  display: block;
  z-index: 1;
  overflow: unset;
  width: 100%;
  height: 100%;
}

.g-thumbs {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 0, 0);
  transition: transform 400ms cubic-bezier(0.5, 0, 0.5, 1);
  height: 100%;
  width: 100%;
}

.g-thumb-container {
  position: relative;
  z-index: 206;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  overflow: unset;
}

.g-thumb {
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.-current {
  opacity: 1 !important;
}

gallery-core[thumbPosition='top'],
gallery-core[thumbPosition='bottom'] {
  .g-thumbs {
    flex-direction: row;
    top: 0;
    left: 50%;
  }
}

gallery-core[thumbPosition='left'],
gallery-core[thumbPosition='right'] {
  .g-thumbs {
    flex-direction: column;
    top: 50%;
    left: 0;
  }
}

gallery-core[thumbPosition='top'] {
  flex-direction: column;
}

gallery-core[thumbPosition='left'] {
  flex-direction: row;
}

gallery-core[thumbPosition='right'] {
  flex-direction: row-reverse;
}

gallery-core[thumbPosition='bottom'] {
  flex-direction: column-reverse;
}
