.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/shiba1.d84e1a8ed94377452dbf.jpg');
  background-size: cover;
}

.grid-item {
  margin: 1em;
  border-radius: 0.2em;
  overflow: hidden;
  padding: 0;
  width: 200px;
  height: 140px;

  @media only screen and (max-width: 480px) {
    margin: 0.4em;
    width: 100px;
    height: 80px;
  }
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3em 0;
}

.grid-image {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
