:host {
  display: block;
  width: 100%;
  height: 100vh;
}

gallery {
  height: 100vh;
}
.header-test {
  height: 60px;
  width: 100%;
  background-color: blueviolet;
}
button {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}