<mat-toolbar color="primary">
	@ngx-gallery
</mat-toolbar>

<div class="basic-container" gallerize selector="image-item div">
	<h2>Basic Example</h2>
		<gallery id="basic-test" [items]="items"></gallery>
</div>

<div class="lightbox-example">
	<h2>Lightbox Example</h2>
	<button mat-button (click)="openLightbox()">Open Lightbox</button>
</div>

<div class="gallerize-example">
	<h2>Gallerize Example</h2>
	<p class="container" gallerize>
		<img *ngFor="let img of imageData" [src]="img.srcUrl">
	</p>
</div>

<!--<ng-template #itemTemplate let-data=data>-->
  <!--<img [src]="data.src | async" width="100%" height="100%">-->
<!--</ng-template>-->
