<md-toolbar class="option-header" color="secondary">
  <span>GalleryService Options</span>
  <md-toolbar-row class="toolbar-buttons" *ngIf="gallery.state | async as state">

    <button *ngIf="!state.play" md-raised-button color="accent" (click)="gallery.play()"><i class="fa fa-play" aria-hidden="true"></i> PLAY</button>
    <button *ngIf="state.play" md-raised-button color="warn" (click)="gallery.stop()"><i class="fa fa-stop" aria-hidden="true"></i> STOP</button>

    <button md-raised-button (click)="gallery.close()"><i class="fa fa-close" aria-hidden="true"></i> CLOSE</button>

  </md-toolbar-row>
  <md-toolbar-row class="toolbar-buttons">
    <button md-raised-button (click)="gallery.prev()"><i class="fa fa-step-backward" aria-hidden="true"></i> PREV</button>
    <button md-raised-button (click)="gallery.next()"><i class="fa fa-step-forward" aria-hidden="true"></i> NEXT</button>
    <!--<button md-raised-button (click)="gallery.reset()"><i class="fa fa-repeat" aria-hidden="true"></i> RESET</button>-->
  </md-toolbar-row>
</md-toolbar>
