<div class="lightbox-thumbnails" [ngStyle]="getContainerStyle()">

  <div class="lightbox-current" [ngStyle]="getCurrThumbStyle()"></div>

  <div class="lightbox-ruler" [ngStyle]="getRulerStyle()">

    <div *ngFor="let image of state.images; let i = index" class="lightbox-thumbnail" [class.lightbox-thumbnail-current]="i === state.currIndex"
    [style.width.px]="lightbox.config.thumb.width" [style.height.px]="lightbox.config.thumb.height">

      <img [src]="image.thumbnail || image.src" (click)="lightbox.setCurrent(i)">

    </div>

  </div>
</div>