*{
  box-sizing: border-box;
}

.lightbox-thumbnails{
  z-index: 206;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  background-color: rgba(black, 0.8);
}

.lightbox-thumbnail{
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  cursor: pointer;
  display: block;
  width: 100%;
}

.lightbox-ruler{
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  transition: margin ease 200ms;
}

.lightbox-thumbnail-placeholder{
  background-color: lightgrey;
  position: absolute;
}

.lightbox-thumbnail-current{
  
}