<div class="lightbox-thumbnails" [ngStyle]="containerStyle">

  <div class="lightbox-thumbnail-placeholder" [ngStyle]="currThumbStyle"></div>

  <div class="lightbox-ruler" [ngStyle]="rulerStyle">

    <div *ngFor="let image of state.images; let i = index" class="lightbox-thumbnail" [class.lightbox-thumbnail-current]="i === state.currIndex"
    [style.width.px]="lightbox.config.thumb.width" [style.height.px]="lightbox.config.thumb.height">

      <img [src]="image.thumbnail || image.src" (click)="lightbox.setCurrent(i)">

    </div>

  </div>
</div>