@import '~@angular/material/theming';

$primary-color: mat-color(mat-palette($mat-blue));
$accent-color: mat-color(mat-palette($mat-pink));
$danger-color: mat-color(mat-palette($mat-yellow, 300));

$text-color: #354c6d;// mat-color(mat-palette($mat-blue, 800));
$highlight-color: mat-color(mat-palette($mat-blue, 200));

$note-bg: mat-color(mat-palette($mat-amber, 100));
$note-color: mat-color(mat-palette($mat-amber, 600));

$code-color: mat-color(mat-palette($mat-blue));
$code-bg-color: mat-color(mat-palette($mat-blue, 50));

$scrollbar-color: mat-color(mat-palette($mat-yellow));

$bg: #e8eff6;
$demo-gray-color: #E8EAF6;
$header-height: 44px;
$font-family: 'Roboto', serif;
$g-options-width: 300px;
