@use '@angular/material' as mat;
@import '@angular/material/theming';

$primary-color: mat.get-color-from-palette(mat.define-palette(mat.$blue-palette));
$accent-color: mat.get-color-from-palette(mat.define-palette(mat.$pink-palette));
$danger-color: mat.get-color-from-palette(mat.define-palette(mat.$yellow-palette, 300));

$text-color: #354c6d;// mat-color(mat-palette($mat-blue, 800));
$highlight-color: mat.get-color-from-palette(mat.define-palette(mat.$blue-palette, 200));

$note-bg: mat.get-color-from-palette(mat.define-palette(mat.$amber-palette, 100));
$note-color: mat.get-color-from-palette(mat.define-palette(mat.$amber-palette, 600));

$code-color: mat.get-color-from-palette(mat.define-palette(mat.$blue-palette));
$code-bg-color: mat.get-color-from-palette(mat.define-palette(mat.$blue-palette, 50));

$scrollbar-color: mat.get-color-from-palette(mat.define-palette(mat.$yellow-palette));

$bg: #e8eff6;
$demo-gray-color: #E8EAF6;
$header-height: 44px;
$font-family: 'Roboto', serif;
$g-options-width: 300px;
