<ng-container *ngIf="state$ | async; let state">
  <ng-scrollbar [trackX]="true"
                [style.height]="state.height"
                thumbClass="code-scrollbar-thumb"
                (cdkObserveContent)="updateHeight()">

    <ng-container *ngIf="!state.copied; else copiedMessage">

        <pre>
          <code #codeEL highlight [code]="code"></code>
        </pre>

    </ng-container>

    <ng-template #copiedMessage>
      <div class="hljs copy-message">
        <mat-icon>done</mat-icon>
        <span>Copied!</span>
      </div>
    </ng-template>
  </ng-scrollbar>

</ng-container>

<button mat-icon-button color="accent" matTooltipClass="copy-tooltip"
        matTooltip="Copy code" matTooltipPosition="before" (click)="copy()">
  <mat-icon class="md-24" aria-label="Copy code">content_paste</mat-icon>
</button>
