<div class="g-container" [ngStyle]="getContainerStyle()">

  <gallery-thumb *ngIf="gallery.config.thumbnails" [state]="state"></gallery-thumb>

  <div class="g-current">
    <div class="g-image-container">

      <gallery-image [state]="state"></gallery-image>

      <gallery-nav [state]="state"></gallery-nav>

    </div>

    <gallery-text *ngIf="gallery.config.description" [state]="state"></gallery-text>

    <gallery-bullets *ngIf="gallery.config.bullets" [state]="state"></gallery-bullets>

    <gallery-player *ngIf="gallery.config.player" [state]="state"></gallery-player>
  </div>

</div>
