:host {
  order: 1;
  flex: 1;
  display:flex;
  flex-direction: column;
  transform: translate3d(0px, 0px, 0px);
}

.g-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}
