<div class="page-title">
  <h1>Mixed Content Example</h1>
</div>
<div class="page-content">

  <section>
    <section-title>Overview</section-title>
    <p>Gallery supports more than just images, you can add HTML5 Videos, Youtube videos or Iframes.</p>
    <p>The following example</p>
  </section>

  <section>
    <section-title>Example for a gallery with mixed content</section-title>

      <gallery id="mixed" thumbPosition="right"></gallery>

      <hl-code [code]="code.load" [height]="400"></hl-code>
      <p>Assume your data looks like this</p>

      <hl-code [code]="code.itemsData"></hl-code>
  </section>
</div>

<footer></footer>
