::ng-deep {
  #mixed {
    display: block;
    margin-top: 3em;
    height: 500px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background-color: #FAFAFA;
    .g-counter {
      top: 0;
      bottom: auto;
      font-size: 12px;
      border-radius: 0 0 4px 4px;
    }
    .g-thumb {
      padding: 5px 10px;
    }
    thumbnail-item {
      background: #1f7199;
    }
    .g-loading svg {
      stroke: black;
    }
  }
}
