<div style="height: 100%; overflow: auto">
  <div class="page-title">
    <h1>Ng-gallery</h1>
    <h2>Simplifies the process of creating beautiful galleries.</h2>
    <a mat-raised-button routerLink="/getting-started">Get started</a>
    <badges></badges>
  </div>
  <div class="page-content">
    <gallery id="basic"
             *ngIf="media$ | async; let config"
             [items]="camel$ | async"
             [thumbWidth]="config.thumbWidth"
             [thumbHeight]="config.thumbHeight"
             ngStyle.lg="height: 540px"
             itemAutosize="true"
             imageSize="contain"
             autoPlay="true"
             thumbPosition="top"
             thumbView="contain"></gallery>
  </div>
  <footer></footer>
</div>
