<div style="height: 100%; overflow: auto">
  <div class="page-title">
    <h1>Ng-gallery</h1>
    <h2>Simplifies the process of creating beautiful galleries.</h2>
    <a mat-raised-button routerLink="/getting-started">Get started</a>
    <badges/>
  </div>
  <div class="page-content">
    <gallery [items]="images.value()" itemSize="auto" loop>
      <img *galleryItemDef="let item"
           galleryImage
           [src]="item.src"
           [alt]="item.alt"/>
      <gallery-thumbs position="top"
                      forceSnap
                      [itemSize]="120"
                      [thickness]="90">
        <button *galleryItemDef="let item" galleryThumbClick>
          <img galleryImage [src]="item.thumb" [alt]="item.alt + '_thumb'"/>
        </button>
      </gallery-thumbs>
    </gallery>
  </div>
  <footer></footer>
</div>
