<!--<ng-scrollbar appearance="compact" class="black-bg">-->
<div style="height: 100%; overflow: auto">
  <div class="page-title">
    <h1>Angular Gallery</h1>
    <sub>Simplifies the process of creating beautiful galleries.</sub>
    <a mat-raised-button class="docs-button" routerLink="/getting-started">Get Started</a>
    <badges></badges>
  </div>
  <div class="page-content">
    <gallery id="basic"
             *ngIf="media$ | async; let config"
             [items]="camel$ | async"
             [thumbWidth]="config.thumbWidth"
             [thumbHeight]="config.thumbHeight"
             ngStyle.lg="height: 540px"
             imageSize="contain"
             autoPlay="true"
             thumbPosition="top"
             thumbView="contain"></gallery>
  </div>

  <footer></footer>
</div>
<!--</ng-scrollbar>-->
