@import '../../../assets/variables';
@import '../../../assets/theme';

.logo {
  display: flex;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 3em;
  img {
    margin-right: 0.5em;
    width: 100px;
  }
}

.jumbo {
  height: calc(100vh - 44px);
}

.description {
  font-size: 1.2em;
}

.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.showcase-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-text {
  flex: 1;
  display: flex;
  align-items: center;
  opacity: 0.6;
}

.item-image {
  width: 150px;
  height: 150px;
  opacity: 0.3;
  overflow: hidden;
  padding: 3em 0;
  > div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
}

h3 {
  margin-top: 2em;
}

::ng-deep {
  #home {
    .g-thumb {
      padding: 20px 10px 0;
    }
    .slide {
      margin: 0 1.5em;
    }
    .g-counter {
      font-size: 12px;
    }
    .g-counter{
      background: none;
      color: mat-color($demo-primary);
    }
    image-item > div{
      box-shadow: 0 8px 30px grey;
      background-color: black;
    }
  }
}

.page-title {
  align-items: center;
  h1 {
    font-size: 56px;
    font-weight: 300;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  sub {
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 3em;
  }
  a {
    margin-bottom: 4em;
  }
}
