@import '~@angular/material/theming';
@import '../../../assets/variables';

.logo {
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-left: -2em;
  .colorful {
    margin: 0;
  }
  img {
    width: 200px;
    height: 200px;
  }
}

.description {
  font-size: 1.2em;
}

.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.showcase-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-text {
  flex: 1;
  display: flex;
  align-items: center;
  opacity: 0.6;
}

.item-image {
  width: 150px;
  height: 150px;
  opacity: 0.3;
  overflow: hidden;
  padding: 3em 0;
  > div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
}

ul {
  padding: 1em 2em;
  list-style: none;
}

li {
  margin-bottom: 0.5em;
  &:before{ 
      content: '\f00c';
      font-family: 'FontAwesome';
      width: 6px; 
      height: 6px;
      margin-right: 1em;
      color: #4CC61E;
  }
}

h3 {
  margin-top: 2em;
}

.badges a {
  text-decoration: none;
}