<h1 class="colorful">Angular Image Gallery</h1>

<div class="content">
  <p>An angular image gallery module that simplifies the process of creating beautiful image galleries for the web and
    mobile devices.
  </p>
  <p>
  </p>


  <div class="badges">
    <iframe src="https://ghbtns.com/github-btn.html?user=murhafsousli&repo=ng-gallery&type=star&count=true&size=small"
            frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
    <img data-canonical-src="https://www.npmjs.com/package/ng-gallery"
         src="https://img.shields.io/npm/v/ng-gallery.svg?maxAge=2592000?style=plastic">
    <img data-canonical-src="https://travis-ci.org/MurhafSousli/ng-gallery"
         src="https://travis-ci.org/MurhafSousli/ng-gallery.svg?branch=master">
    <img data-canonical-src="https://www.npmjs.com/package/ng-gallery"
         src="https://img.shields.io/npm/dt/ng-gallery.svg?maxAge=2592000?style=plastic">
  </div>

  <p></p>

  <div class="showcase">
    <div class="showcase-item">
      <div class="item-image">
        <div [style.backgroundImage]="'url(assets/img/intro/customize.svg)'"></div>
      </div>
      <div class="item-text">Easy customization, enable/disable features, set style and position to the gallery
        parts using gallery options
      </div>
    </div>
    <div class="showcase-item">
      <div class="item-image">
        <div [style.backgroundImage]="'url(assets/img/intro/responsive.svg)'"></div>
      </div>
      <div class="item-text">Responsive layout, works on mobile, tablet and desktop browsers.</div>
    </div>
    <div class="showcase-item">
      <div class="item-image" style="padding: 1.5em;">
        <div [style.backgroundImage]="'url(assets/img/intro/native.svg)'"></div>
      </div>
      <div class="item-text">Built to integrate seamlessly with Angular.</div>
    </div>
  </div>

  <h3>Features:</h3>
  <ul>
    <li>Gallery in modal</li>
    <li>Dots (bullets)</li>
    <li>Text (description)</li>
    <li>Thumbnails</li>
    <li>Lazy load</li>
    <li>Navigation</li>
    <li>Loading icons</li>
    <li>Auto detect images</li>
    <li>Slide show</li>
    <li>Key shortcuts for navigation (gallery modal)</li>
    <li>Responsive</li>
    <li>Gestures support (hammerjs)</li>
  </ul>

</div>
