/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'assets/theme';
@import 'assets/mixin';
@import 'assets/variables';
@import '~highlight.js/styles/tomorrow.css';

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

p {
  line-height: 2em;
}

h3 {
  margin-top: 3em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}

.install {
  margin: 3em 0;
}

mat-sidenav-container {
  height: 100%;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height;
  bottom: 0;
  overflow: hidden;
  transform: perspective(1000px);
  backface-visibility: hidden;
  transform-style: preserve-3d;

  // Custom Scrollbar
  > ng-scrollbar {
    --scrollbar-border-radius: 12px;
    --scrollbar-size: 12px;
    --scrollbar-thumb-color: #009aaeb0;
    --scrollbar-color: rgba(0, 0, 0, 0.1);
    --scrollbar-thumb-hover-color: #e73727a6;

    .ng-scrollbar {
      transition: all 120ms ease-out !important;

      &:hover, &:active {
        --scrollbar-size: 16px;
      }
    }
  }
}

// ng-scrollbar {
//   color: $text-color;

//   .ng-scrollbar {
//     border-radius: 0;
//     background-color: $primary-color;
//     opacity: 0.5;
//   }

//   .ng-scrollbar-thumb {
//     height: 8px;
//     background-color: #e3f2fd; // $accent-color;
//     border-radius: 0;

//     &:hover, &:active {
//       background-color: #fff176; // $accent-color;
//     }
//   }

//   .ng-scrollbar-vertical {
//     width: 12px;
//     top: 0;
//     right: 0;
//     bottom: 0;
//   }

//   .ng-scrollbar-horizontal {
//     height: 12px;
//     left: 0;
//     right: 0;
//     bottom: 0;
//   }
// }

.mat-button.inline-button {
  padding: 0 10px;
}

section {
  margin-bottom: 4em;
  display: block;
  width: 100%;
}

code {
  flex: 1;
  font-size: 1.1em;
  box-sizing: border-box;
  font-weight: normal;
  line-height: 1.75em;
  margin: 0 0.3em;
  display: inline-block !important;
  padding: 0.05em 0.5em !important;
  overflow-x: unset !important;
  background-color: $code-bg-color !important;
  border: 2px solid $code-color;
  border-radius: 0.5em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.hljs {
  color: $text-color;
}

a {
  text-decoration: none;
  color: $accent-color;
}

.usage-title {
  display: flex;

  p {
    margin: 0;
  }
}

.section-number {
  flex: 0 0 auto;
  border: 2px solid $primary-color;
  border-radius: 50%;
  background-color: $code-bg-color;
  color: $primary-color;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.inline-number {
  display: inline-flex;
  margin: 0 0.2em;
}

.page-title {
  //box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -3px 8px 0 rgba(0, 0, 0, 0.08);
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  color: #fff;

  h1 {
    text-align: center;
    margin: 2em auto;
    padding: 16px;
    font-weight: normal;
  }
}

.page-content {
  position: relative;
  @extend .container;
}

// code
.hljs-attr {
  color: $primary-color;
}

// Used in for features in Home page and Gallerize page

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 150px;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.separator {
  height: 120px;
  width: 3px;
  background-color: rgba(mat-color($demo-primary), 0.8);
}
