<md-toolbar color="primary">
  <md-checkbox [ngModel]="config" (ngModelChange)="enabledChanged($event)">loader</md-checkbox>
</md-toolbar>

<ul>
  <li>
    <md-select [(ngModel)]="config.icon"  placeholder="icon" [disabled]="!config">
      <md-option *ngFor="let p of iconOptions" [value]="p">{{p}}</md-option>
    </md-select>
  </li>

  <li>
    <md-input-container>
      <input mdInput placeholder="width" [(ngModel)]="config.width" [disabled]="!config">
    </md-input-container>
  </li>

  <li>
    <md-input-container>
      <input mdInput placeholder="height" [(ngModel)]="config.height" [disabled]="!config">
    </md-input-container>
  </li>

  <li>
    <md-select [(ngModel)]="config.position"  placeholder="position" [disabled]="!config">
      <md-option *ngFor="let p of positionOptions" [value]="p">{{p}}</md-option>
    </md-select>
  </li>
</ul>
