* {
  box-sizing: border-box;
}

:host {
  left: 0;
  width: 100%;
  z-index: 205;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 1em 2em;
}

.g-text {
  flex: 1;
}
