@import '~@angular/material/theming';

$demo-gray-color: #E8EAF6;
$header-height: 44px;
$font-family: 'Roboto', serif;
$g-options-width: 300px;
$base-color: mat-color(mat-palette($mat-deep-purple, 900));
$primary-color: mat-color(mat-palette($mat-deep-purple));
$accent-color: mat-color(mat-palette($mat-pink));
$bg: mat-color(mat-palette($mat-indigo, 50));
$colorful-bg: radial-gradient(circle farthest-side at 395px 483px, #2200cf 0, #ac00d7 74.2%, #8206ff 83.3%);
