<md-toolbar class="option-header" color="secondary">
  <md-checkbox [ngModel]="config" (ngModelChange)="enabledChanged($event)">player</md-checkbox>
</md-toolbar>

<ul [class.section-closed]="!config">
  <li>
    <md-checkbox [ngModel]="config.autoplay" (ngModelChange)="autoplayChanged($event)" [disabled]="!config">autoplay
    </md-checkbox>
  </li>
  <li>
    <reactive-input [placeholder]="'speed'" [text]="config.speed" (value)="speedChanged($event)"
                    [disabled]="!config" ></reactive-input>
  </li>

</ul>
