gallery-main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    box-sizing: border-box;
  }
}

.g-container {
  overflow: hidden;
  position: relative;
  z-index: 200;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 480px) {
    width: 100% !important;
    flex: 1;
    // force horizontal on mobile
    flex-direction: column !important;
  }
}
.g-box{
  height: 100%;
}
.g-box, .g-image-box {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 1;
  height: 100%;
}

.g-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 250;
}

.g-pan-reset {
  transition: all linear 0.3s;
  transform: translate3d(0px, 0px, 0px) !important;
}
