<div class="g-container" [style.flexDirection]="thumbDirection" [ngStyle]="config.style">

  <gallery-thumb *ngIf="config.thumbnails" [state]="state" [config]="config.thumbnails"
                 [style.background]="config.style?.background"></gallery-thumb>

  <div class="g-box">

    <div class="g-image-box">

      <gallery-image [state]="state" [config]="config" (loading)="loading = $event"></gallery-image>

      <gallery-nav *ngIf="config.navigation" [state]="state"></gallery-nav>

      <!--<div class="g-layer" *ngIf="state.images[state.currIndex].layer" [innerHtml]="state.images[state.currIndex].layer"></div>-->

    </div>

    <gallery-text *ngIf="config.description" [state]="state" [config]="config.description"></gallery-text>

    <gallery-bullets *ngIf="config.bullets" [state]="state" [config]="config.bullets"></gallery-bullets>

    <gallery-player *ngIf="config.player" [state]="state" [config]="config.player"></gallery-player>

  </div>

</div>
