<div class="g-thumb-placeholder" [ngStyle]="currThumbStyle"></div>

<div class="g-thumbs" [ngStyle]="rulerStyle">

  <div class="g-thumb" *ngFor="let image of state.images; let i = index"
       [class.gallery-thumbnail-current]="i === state.currIndex"
       [style.width.px]="gallery.config.thumbnails.width"
       [style.height.px]="gallery.config.thumbnails.height">

    <div class="g-thumb"
         [style.backgroundImage]="getThumbImage(i)"
         (click)="gallery.set(i)">
    </div>
  </div>

</div>
