*{
  box-sizing: border-box;
}

.lightbox {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(black, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-container {
  overflow: hidden;
  position: relative;
  margin: 2em;
  z-index: 200;
  max-width: 1000px;
  max-height: 94%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (max-width: 480px) {
    margin: 0.8em;
  }
}

.lightbox-current{
  order: 1;
  display: flex;
  flex-direction: column;
}

.lightbox-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    display: block;
    margin: 0 auto;
    height: 20px;
    width: 20px;
    max-width: 100%;
    max-height: 100%;
  }
}

.lightbox-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.lightbox-btn-close {
  position: absolute;
  z-index: 203;
  top: 0.8em;
  right: 0.8em;
  cursor: pointer;
}

.lightbox-description{
  z-index: 205;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, .8);
  bottom: 0;
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  left: 0;
  // position: absolute;
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 100%;
  padding: 1em 2em;
  @media (max-width: 480px) {
    top: 100%;
    bottom: unset;
  }
}

.lightbox-text {
  flex: 1;
}
