@import '../../../assets/theme';

.page-content {
  max-width: 1200px;
}

.doc-menu-container {
  margin-top: 2.4em;
}

.doc-menu {
  position: sticky;
  top: 3em;
  width: 200px;
  height: 150px;
  list-style-type: none;
  padding: 0;
  li {
    margin-bottom: 1em;
  }
}

.active-link {
  text-decoration: underline;
}

.note {
  margin: 2em 0;
  font-style: italic;
  color: gray;
  font-size: 13px
}

.colored {
  color: mat-color($demo-accent);
}

section {
  border-top: 0;
  margin-top: 0;
}
