<div class="menu" [class.menu-toolbar]="toolbar">
  <a mat-button routerLink="." routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Home</a>
  <a mat-button color="danger" routerLink="getting-started" routerLinkActive="active">Getting Started</a>
  <a mat-button routerLink="gallery" routerLinkActive="active">Gallery</a>
  <a mat-button routerLink="lightbox" routerLinkActive="active">Lightbox</a>
  <a mat-button routerLink="gallerize" routerLinkActive="active">Gallerize</a>
  <a mat-button routerLink="advanced" routerLinkActive="active">Advanced</a>
  <a mat-button routerLink="lab" routerLinkActive="active">Lab</a>
  <a mat-button class="btn-icon" href="https://github.com/MurhafSousli/ng-gallery">
    <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
  </a>
</div>
