::ng-deep {
  #mixed {
    margin: 2em 0 3em;

    .item-type {
      padding: 6px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(black, 0.5);
    }

    .item-text {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 3em auto 0;
      border-radius: 4px;
      width: 100%;
      max-width: 500px;
      padding: 20px 25px;
      text-align: justify;
    }
  }
}
